# deploy it to GitHub Actions, and set the following secrets:
export ACTIONS_DEPLOY_KEY="-----BEGIN OPENSSH PRIVATE KEY-----\n...\n-----END OPENSSH PRIVATE KEY-----\n"
export AZURE_STATIC_WEB_APPS_API_TOKEN_DELIGHTFUL_COAST_007FBB600="your_token_here"
export FIREBASE_SERVICE_ACCOUNT_STEVEZMT_ARTICLES="your_service_account_key_here"


# copy and rename this file to .env, and fill in the WeChat credentials on your local machine:
export WECHAT_APPID="xxx"
export WECHAT_APPSECRET="xxx"
export WECHAT_AUTHOR="username"




